<!--<div ng-controller='modalController' ng-init='init()'>-->
<div ng-init='init()'>
	<div class="modal-header">
		<!--
	    <h3 class="modal-title" id="modal-title">Título de la ventana modal</h3>
		-->
	    <button class="btn btn-primary btn-block" type="button" ng-click="cerrar()">Cerrar</button>
	</div>
	<div class="modal-body" id="modal-body" style="text-align: center;">
		<a href="https://www.policenter.cl/landings/actualizacion_datos/" target="_blank">
			<img src="assets/img/popup_policenter/PopUp.jpeg" class="img-responsive" />
		</a>
	</div>
	<div class="modal-footer">
		<!--
	    <button class="btn btn-primary" type="button" ng-click="pc.ok()">OK</button>
		-->
	    <button class="btn btn-primary btn-block" type="button" ng-click="cerrar()">Cerrar</button>
	</div>
</div>